@import "../../../../src/themes/colors";

.table-responsive {
  flex: 1;
  overflow: auto;
  margin-top: 2rem;

  table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;

    th {
      background-color: $color-brand-primary-light;
      padding: 11px 18px;
      text-align: left;
      color: $color-neutral-white;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;

      &:first-child {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
      }
      &:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 100px;
      }
    }

    tbody {
      tr {
        border-bottom: 2px solid $color-neutral-white;
        border-top: 2px solid $color-neutral-white;
        &:hover {
          background-color: $color-neutral-lightest;
        }

        &:nth-child(even) {
          background-color: $color-neutral-lightest;
        }
        td {
          padding: 11px 18px;
          font-size: 0.875rem;
          border-spacing: 0px;
          border-collapse: collapse;
          border-width: 0;
          font-size: 12px;
          font-weight: 700;
          color: $color-neutral-dark;
          line-height: 150%;
          cursor: pointer;

          &:first-child {
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
          }

          &:last-child {
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
          }
        }
        .total-text {
          text-align: right;
        }
      }
    }
  }
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  label {
  }
}

.form-floating {
  position: relative;
  label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    font-weight: bold;
    color: $color-brand-primary-medium;
    text-transform: uppercase;
    padding: 6px 16px;
    border: 1px solid transparent;
  }
  .form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: $color-neutral-dark;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
    padding-inline: 16px;
    padding-top: 16px;
    border: 1px solid $color-neutral-lightest;

    outline: none;
    &:focus {
      border: 1px solid $color-neutral-medium;
    }

    height: 48px;
    line-height: 1.25;
  }
}

.icon-info-alert {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-feedback-info-lightest;
  padding: 6px;
  svg {
    width: 14px;
    height: 14px;
    fill: $color-feedback-info-dark;
  }
}

.btn {
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 150%;
  cursor: pointer;
  color: $color-neutral-white;
  background-color: $color-brand-primary-darkest;
  border: 1px solid $color-brand-primary-darkest;
  &:hover{
    background-color: $color-brand-primary-dark;
  }
}
