@import "../../../../src/themes/variaveis";

.filtro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .form-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.table-responsive {
  flex: 1;
  overflow: auto;
  margin-top: 2rem;

  table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;

    th {
      background-color: $color-brand-primary-light;
      padding: 11px 18px;
      text-align: left;
      color: $color-neutral-white;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;

      &:first-child {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
      }
      &:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 100px;
      }
    }

    tbody {
      tr {
        border-bottom: 2px solid $color-neutral-white;
        border-top: 2px solid $color-neutral-white;
        &:hover {
          background-color: $color-neutral-lightest;
        }

        &:nth-child(even) {
          background-color: $color-neutral-lightest;
        }
        td {
          padding: 11px 18px;
          font-size: 0.875rem;
          border-spacing: 0px;
          border-collapse: collapse;
          border-width: 0;
          font-size: 12px;
          font-weight: 700;
          color: $color-neutral-dark;
          line-height: 150%;

          &:first-child {
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
          }

          &:last-child {
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
          }
        }
        .total-text {
          text-align: right;
        }
      }
    }

    caption {
      width: 100%;
      font-size: 12px;
      font-weight: 700;
      color: $color-neutral-dark;
      line-height: 150%;
      caption-side: bottom;
      padding: 6px;
    }
  }
}

.icon-info-alert {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-feedback-info-lightest;
  padding: 6px;
  svg {
    width: 14px;
    height: 14px;
    fill: $color-feedback-info-dark;
  }
}
