@import "../../../../themes/variaveis";


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 30px 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 382px;
    border-radius: 40px;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    p{
      font-size: 14px;
      font-weight: bold;
      color: $color-brand-primary-medium;
      margin: 10px;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 24px;
      font-weight: bold;
      color: #888;
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }
  }
}

.modal-show {
  display: block;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
